.Field {
  input:not([type="range"]) {
    border-radius: 999999999999px;
    border: 0;
    padding: 1rem;
  }

  input[type="range"] {
    padding: 0;
    border: none;
    display: inline;
  }

  .rating-value {
    padding: 2%;
    display: inline-block;
    width: 3ch;
  }

  margin: 5% 0;
}
