@use "../../utilities/_utils.scss" as *;

.form-group {
    text-align: center;
    line-height: 5vh;
    font-size: max(1.3vw, 15px);
    display: block;
}

label {
    margin-right: 10px;
}

.form-control {
    border: 3px $secondary solid;
    border-radius: 10px;
    padding: 5px;
    font-size: max(1.3vw, 15px);
}

input[type='radio'] {
    top: 1px;
    position: relative;
    right: 15px;
}